@using Microsoft.CodeAnalysis.Options
@using System.Linq
@{
    ViewData["Title"] = "Carousel Items";
}

<h1>@ViewData["Title"]</h1>

<p>This page shows content of databaseFake</p>


<a asp-action="Create">Create new Carousel Item</a>


<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Image Source</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
        <th scope="col">Related to</th>
        <th scope="col">Display Product</th>
    </tr>
    </thead>
    <tbody>
    @{
        List<string> categories = new List<string>();
        foreach (var item in Model)
        {
            if (!categories.Contains(item.Category))
            {
                categories.Add(item.Category);
            }
        }
        foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.ID</th>
                <td scope="row">@item.Name</td>
                <td scope="row">@item.Price</td>
                <td scope="row">
                    <img src="@item.ImageSource" style="max-width:32px;"/>
                </td>
                <td scope="row">
                    <a asp-action="Edit" asp-route-ID="@item.ID">Edit</a>
                </td>
                <td scope="row">
                    <a asp-action="Delete" asp-route-ID="@item.ID" onclick="return ConfirmDelete();">Delete</a>
                </td>
                <td scope="row">
                    <div class="btn-group">
                        <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Small button
                        </button>
                        <div class="dropdown-menu">
                            @{
                                foreach (var category in categories)
                                {
                                    <a class="dropdown-item" asp-action="Related" asp-route-product-id="@item.ID" asp-route-related="@category">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="checkboxNoLabel" @(item.RelatedList.Contains(category) ? "checked" : "")>
                                            <label class="form-check-label">@char.ToUpper(category[0])@category.Substring(1)</label>
                                        </div>
                                    </a>
                                }
                            }

                        </div>


                    </div>
                </td>
                <td scope="row">
                    <a asp-area="" asp-controller="Product" asp-action="Detail" asp-route-ID="@item.ID">Show</a>
                </td>
            </tr>
        }
    }
    </tbody>
</table>

@section Scripts
{
    <script src="~/js/alerts.js"></script>
}